<ion-view title="Poll Room">
	<ion-content>

		<div class="list card">
		  <div class="item">
		  	<h2 class="title">{{poll.title}}</h2>
				<a class="subdued"><h5>Created by {{poll.ownername}} on {{poll.date | date:MMMM}}</h5></a>
		  </div>
		  <div class="item item-text-wrap">
		    <p>{{poll.descr}}</p>
		  </div>
		</div>


		<ion-list>
			<ion-item class="list card" ng-repeat="(index, pollq) in poll.questions">

				<div class="item item-text-wrap">
					<h2 class="title">{{index + 1}}. {{pollq.question}}</h2>
				</div>
				<ion-radio name="pollq-{{index}}" ng-model="pollq.selected" ng-value="'A'" ng-disabled="pollcomplete">A. {{pollq.options.A}}</ion-radio>
				<ion-radio name="pollq-{{index}}" ng-model="pollq.selected" ng-value="'B'" ng-disabled="pollcomplete">B. {{pollq.options.B}}</ion-radio>
				<ion-radio name="pollq-{{index}}" ng-model="pollq.selected" ng-value="'C'" ng-disabled="pollcomplete">C. {{pollq.options.C}}</ion-radio>
				<ion-radio name="pollq-{{index}}" ng-model="pollq.selected" ng-value="'D'" ng-disabled="pollcomplete">D. {{pollq.options.D}}</ion-radio>
			</ion-item>

			<div class="item">
				<a class="button button-block button-calm" ng-click="castVote()" ng-disabled="pollcomplete">Vote</a>
			</div>
		</ion-list>

	</ion-content>
</ion-view>
