<ion-view title="Home">
	<button id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="addNewPollpopup()">
			<i class="icon ion-android-hand"></i>
	</button>

	<div class="bart">
		<div class="has-header list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" ng-model="query" placeholder="Filter Items">
			</label>
			<!-- <button class="button button-icon ion-plus" ng-click="addNewPoll()"></button> -->
		</div>
	</div>

	<ion-content class="margin-top">

		<ion-list>
			<ion-item class="list card border-left-card" ng-repeat="poll in polls | filter: query" ng-click="itemHandler(poll)" ng-hide="">

				<div class="item item-avatar">
					<img src="img/logo.png">
					<h2 class="title">{{poll.title}}</h2>
					<h5>Created by {{poll.ownername}} on {{poll.date | date:MMMM}}</h5>
				</div>

				<div class="item item-body">
					<p class="item-text-wrap">{{poll.descr}}</p>
					<a class="subdued">{{poll.qCount}} questions</a>
					<a class="subdued">Survey Code: {{poll.pollid}}</a>
				</div>

				<ion-option-button class="button-dark"
          ng-click="deleteItem(poll)">
          <i class="icon ion-trash-b"></i>
        </ion-option-button>

			</ion-item>

			<ion-item class="list card border-left-card" ng-hide="polls[0]">

				<div class="item item-avatar">
					<img src="img/logo.png">
					<h2 class="title">Welcome!</h2>
					<h5>The Survey App lets you create and participate in surveys.</h5>
				</div>

				<div class="item item-body">
					<p class="item-text-wrap">
						<ul>
							<li>Create a new survey <a href="#/tab/newpoll">here</a></li>
							<li>To Participate in a survey click on the blue icon at the bottom.</li>
							<li>Check out the source code <a target="_blank" href="https://github.com/ishankkm/pollApp">here</a></li>
						</ul>
					</p>
					<a class="subdued">Enjoy!</a>
				</div>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
