<ion-view title="Home">
	<!-- <ion-nav-view name="home"></ion-nav-view> -->
	<div class="bar bar-subheader item-input-inset bar-dark">
		<div class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="query" placeholder="Search">
		</div>
		<div class="button-bar">
			<button class="button button-icon ion-android-hand" ng-click="goToPoll()"></button>
			<button class="button button-icon ion-plus" ng-click="addNewPoll()"></button>
		</div>
	</div>
	<ion-content class=" splash padding has-subheader">

		<div class="list card" ng-repeat="poll in polls | filter: query">


			<label class="item item-input">					
				<label>{{poll.question}}</label>
			</label>
			<label class="item item-input">					
				<label>{{poll.option1}}</label>
			</label>
			<label class="item item-input">
				<label>{{poll.option2}}</label>
			</label>
			<label class="item item-input">
				<label>{{poll.option3}}</label>
			</label>
			<label class="item item-input">
				<label>{{poll.option4}}</label>
			</label>

		</div>

	</ion-content>
</ion-view>