<ion-view title="Home">
	<!-- <ion-nav-view name="home"></ion-nav-view> -->
	<div class="bar bar-subheader item-input-inset bar-dark">
		<div class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="query" placeholder="Search">
		</div>
		<div class="button-bar">
			<button class="button button-icon ion-android-hand" ng-click="goToPoll()"></button>
			<button class="button button-icon ion-plus" ng-click="addNewPoll()"></button>
		</div>
	</div>
	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="item" ng-repeat="poll in polls | filter: query" href="#/tab/polldetail/{{poll.pollid}}">

				<h2>{{poll.question}}</h2>
				
				<h3>{{poll.options.A}}</h3>
				<h3>{{poll.options.B}}</h3>
				<h3>{{poll.options.C}}</h3>
				<h3>{{poll.options.D}}</h3>
				
				<h4>{{poll.pollid}}</h4>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>