<ion-view title="Create New Poll">
	<ion-content class=" splash padding">
		<div class="list card padding" >
			<label class="item item-input">
				<textarea placeholder="Question"></textarea>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Option 1">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Option 2">
			</label>
			<button class="button button-full button-positive">
				Create
			</button>
		</div>
	</ion-content>
</ion-view>