<ion-view title="Create New Poll">
	<ion-content class=" splash padding">
		<div class="list card padding" >

			<div class="item" ng-show="!isPollActive">

				<label class="item item-input">
					<textarea placeholder="Question" ng-model="pollQues.question" name="question"></textarea>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Option 1" ng-model="pollQues.op1">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Option 2" ng-model="pollQues.op2">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Option 3" ng-model="pollQues.op3">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Option 4" ng-model="pollQues.op4">
				</label>
				<button class="button button-full button-positive" ng-click="createPoll()">
					Create
				</button>
			</div>
		</div>
		<div class="list card padding" ng-show="isPollActive">

			<div class="item">

				<label class="item item-input">					
					<label>{{pollQues.question}}</label>
				</label>
				<label class="item item-input">					
					<label>{{pollQues.op1}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.op2}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.op3}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.op4}}</label>
				</label>

			</div>
		</div>
	</ion-content>
</ion-view>