<ion-view title="Poll Detail">
	<ion-content class=" splash padding">

		<div class="list card padding">

			<div class="item">

				<label class="item item-input">					
					<label><h2>{{pollQues.pollid}}</h2></label>
				</label>
				<label class="item item-input">					
					<label>{{pollQues.question}}</label>
				</label>
				<label class="item item-input">					
					<label>{{pollQues.options.A}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.options.B}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.options.C}}</label>
				</label>
				<label class="item item-input">
					<label>{{pollQues.options.D}}</label>
				</label>

			</div>
		</div>

	</ion-content>
</ion-view>