<ion-view title="Create New Poll">

	<div class="bar bar-subheader item-input-inset bar-dark">
		<div class="item-input-wrapper">
			<input type="text" placeholder="Enter a title" ng-model="title">
		</div>
		<button class="button button-icon ion-plus" ng-click="itemmodal()"></button>
	</div>

	<ion-content class=" splash padding has-subheader">
		<ion-list>
			<ion-item class="item" ng-repeat="poll in publicPollList.questions | filter: query" href="#/tab/polldetail/{{poll.pollid}}">

				<h2>{{poll.question}}</h2>

				<h3>{{poll.options.A}}</h3>
				<h3>{{poll.options.B}}</h3>
				<h3>{{poll.options.C}}</h3>
				<h3>{{poll.options.D}}</h3>

				<h4>{{pollid}}</h4>
			</ion-item>
		</ion-list>

		<script id="itemmodal.html" type="text/ng-template">
			<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Question</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
						<label class="item" ng-model="pollid">
							<h2>Poll id: {{pollid}}</h2>
						</label>
						<label class="item item-input">
							<textarea placeholder="Question" ng-model="pollQues.question" name="question"></textarea>
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 1" ng-model="pollQues.options.A">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 2" ng-model="pollQues.options.B">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 3" ng-model="pollQues.options.C">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 4" ng-model="pollQues.options.D">
						</label>
						<button class="button button-full button-positive" ng-click="createPoll('singlechoice')">
							Create
						</button>
          </div>
        </ion-content>
      </ion-modal-view>
		</script>
	</ion-content>
	<ion-footer-bar class="bar-calm footer-no-padding">
	    <button class="button button-full button-positive footerbutton" ng-click="publishpolls()">Publish</button>
	</ion-footer-bar>
</ion-view>
