<ion-view title="Create New Poll">

	<ion-content	>

		<div class="list card">
		  <label class="item item-input item-stacked-label">
				<span class="input-label">Title</span>
		    <input name="title" type="text" placeholder="Enter a title" ng-model="header.title">
		  </label>
		  <label class="item item-input item-stacked-label">
				<span class="input-label">Description</span>
		    <textarea rows="4" cols="50" placeholder="Enter a short description" class="textbox-size-large"
						ng-model="header.descr"></textarea>
		  </label>

		</div>
		<button class="button button-balanced button-fab button-float-right" ng-click="itemmodal()">
				<i class="icon ion-plus"></i>
		</button>

		<ion-list>
			<ion-item class="card margin-top-small" ng-repeat="(index, poll) in publicPollList.questions"
				ng-click="showmodal(index, poll)" ng-disabled="isPollActive">

				  <div class="item item-text-wrap">
				    <h2>{{poll.question}}</h2>
				  </div>
				  <div class="item item-body">
						<h3>{{poll.options.A}}</h3>
						<h3>{{poll.options.B}}</h3>
						<h3>{{poll.options.C}}</h3>
						<h3>{{poll.options.D}}</h3>
				  </div>
					<ion-option-button class="button-dark" ng-click="deleteItem(index)">
	          <i class="icon ion-trash-b"></i>
	        </ion-option-button>

			</ion-item>
		</ion-list>

		<script id="itemmodal.html" type="text/ng-template">
			<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Question</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
						<label class="item" ng-model="pollid">
							<h2>{{header.title}}</h2>
						</label>
						<label class="item item-input">
							<textarea class="textbox-size-large" placeholder="Question" ng-model="pollQues.question" name="question"></textarea>
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 1" ng-model="pollQues.options.A">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 2" ng-model="pollQues.options.B">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 3" ng-model="pollQues.options.C">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Option 4" ng-model="pollQues.options.D">
						</label>
						<button class="button button-full button-positive" ng-click="createPoll('singlechoice')">
							Create
						</button>
          </div>
        </ion-content>
      </ion-modal-view>
		</script>
	</ion-content>
	<ion-footer-bar class="bar-calm footer-no-padding">
	    <button class="button button-full button-positive footerbutton" ng-click="publishpolls()"
					ng-disabled="!header.title || !header.descr || !publicPollList.questions[0].question || isPollActive" >Publish</button>
	</ion-footer-bar>
</ion-view>
