/* Empty. Add your own CSS if you like */

iframe {
    border: none;
    margin: 30px auto;
}


body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

.splash {
	background: url(../img/bg.jpg);
}

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

/* Menu */
.menu-bottom {
  bottom: 16px;
  left: 16px;
  right: 16px;
  position: absolute; }

.menu-top {
  top: 16px;
  left: 16px;
  right: 16px;
  position: absolute; }

.menu .avatar {
  top: 16px;
  left: 16px;
  height: 65px;
  width: 65px; }

.menu .bar.bar-header.expanded {
  box-shadow: none;
  min-height: 150px;
  color: #fff; }

.menu-open .bar.bar-header.expanded {
  background-position: 0;
  background-size: 100%; }

.has-expanded-header {
  top: 150px !important; }

/*Modal*/
.modal{
  /* top: 20% !important;
  right: 20% !important;
  bottom: 20% !important;
  left: 20% !important;
  overflow: visible !important;
  min-height: 240px !important;
  width: 60% !important; */
}
